.MaxWidth {
  max-width: 960px;
  height: 100vh;
  margin: auto;
  background-color: #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TheBoard {
  width: 600px;
  height: 600px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border: solid;
  border-width: thin;
}

.Square {
  width: 75px;
  height: 75px;
}

#DarkSquare {
  background-color: black;
}
#LightSquare {
  background-color: white;
}

.CenteringContainer {
  height: 620px;
  /* border: solid;
  border-width: thin; */
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.BoardPositions {
  height: 620px;
  width: 620px;
  background-color: white;
  border: solid;
  border-width: thin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserOptions {
  height: 400px;
  width: 150px;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
}

.Square:hover {
  filter: invert(20%);
}

.Title {
  background-color: yellow;
  flex: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GameType {
  background-color: red;
  flex: 2;
}
.Color {
  background-color: orange;
  flex: 2;
}
.Controler {
  background-color: blue;
  flex: 1;
}
