* {
  font-family: "Alegreya Sans";
}

input {
  font-size: 20px;
}

button {
  background-color: #fafafa;
  box-shadow: 0 0 0 0;
  font-size: 15px;
}

h1 {
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
}

.ChooseGameType {
  border-top: solid;
  border-width: thin;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.MaxWidth {
  width: 100vw;
  height: 100vh;
  /* background-color: #fafafa; */
  background: radial-gradient(
      farthest-corner at 200px 40px,
      rgba(255, 255, 255, 0.6),
      rgba(155, 155, 155, 1)
    ),
    url("https://i.pinimg.com/564x/dc/db/25/dcdb25898500b461badb22d17f3a1835.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Rook {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}

.BoardSizeChoice {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  margin-right: 10px;
  margin-left: 10px;
}

.CenteringContainer {
  height: 620px;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.BoardPositions {
  height: 620px;
  width: 620px;
  border: solid;
  border-color: black;
  border-width: thin;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
}
.UserOptions {
  height: 400px;
  width: 150px;
  display: flex;
  flex-direction: column;
  border: solid;
  border-width: thin;
  border-color: black;
  background: rgba(255, 255, 255, 0.75);
}
.Square:hover {
  filter: invert(20%);
}
.Title {
  flex: 0.33;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}
.GameType {
  flex: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Type {
  font-size: 15px;
  margin-left: 20px;
}
.CheckBox {
  margin-right: 20px;
}
.Color {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-bottom: solid;
  border-width: thin;
  margin-left: 10px;
  margin-right: 10px;
}
.ColorChoice {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.Controler {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.PreviousButtion {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid black;
}
.SolutionNumber {
  font-size: 40px;
}
.NextButtion {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
}

@media only screen and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  * {
    margin: 0;
  }

  div.MaxWidth {
    height: 655px;
    width: 370px;
  }

  .UserOptions {
    background-color: blue;
    width: 300px;
    height: 200px;
  }

  .CenteringContainer {
    flex-direction: column-reverse;
    align-content: center;
    width: 95vw;
    height: 300px;
  }

  .BoardPositions {
    width: 95vw;
  }

  div.Board {
    width: 200px;
    height: 200px;
  }

  h1 {
    font-size: 20px;
  }
}
